@import 'tailwindcss';
@import 'tailwindcss-primeui';
@config '../../tailwind.config.js';
@source inline('{sm:,md:,lg:,xl:,2xl:,}grid-cols-{1,2,3,4,5,6,7,8,9,10,11,12}');

body {
    background-color: var(--p-surface-ground);
    color: var(--main);
}

/* @layer components {
    .outline-default {
        @apply outline-double outline-4 outline-main;
    }

    :focus-visible:is(button, a, input) {
        @apply outline-default;
    }

    :focus-visible:is(input[type='checkbox'], input[type='radio']) {
        @apply outline-offset-2;
    }
} */

.bg-gradient {
    @apply bg-linear-to-r from-gradient-0 to-gradient-1;
}

h1 {
    @apply text-2xl font-semibold;
}

:root {
    --main: #444;
    --secondary: #666;
    --tertiary: #888;

    --main-dark: #ddd;

    /* tailwind green-600 */
    --positive: #16a34a;
    --negative: rgb(207, 34, 46);

    --gradient-0: #155799;
    --gradient-1: #159957;

    box-sizing: border-box;
    color-scheme: light;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main: #ddd;
        --secondary: #ccc;
        --tertiary: #aaa;

        /* tailwind emerald-500 */
        --positive: var(--);
        --negative: rgb(248, 81, 73);

        --gradient-0: #1f7fdf;
        --gradient-1: #1fdf7f;

        color-scheme: dark;
    }
}
