@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-main-bg text-main;
    font-family:
        BlinkMacSystemFont,
        -apple-system,
        'Segoe UI',
        'Roboto',
        'Oxygen',
        'Ubuntu',
        'Cantarell',
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        'Helvetica',
        'Arial',
        sans-serif;
}

@layer components {
    .outline-default {
        @apply outline-double outline-4 outline-main;
    }

    :focus-visible:is(button, a, input) {
        @apply outline-default;
    }

    :focus-visible:is(input[type='checkbox'], input[type='radio']) {
        @apply outline-offset-2;
    }
}

.btn {
    @apply rounded-md
        bg-secondary-bg
        px-4
        py-2
        font-semibold
        text-main
        transition-colors
        hover:bg-tertiary-bg;

    &:active {
        transform: translateY(2px);
        @apply transition-transform;
    }

    &.btn-red {
        @apply bg-red-600 text-white hover:bg-red-500;
    }

    &.btn-green {
        @apply bg-green-700 text-white hover:bg-green-600;
    }
}

.bg-gradient {
    @apply bg-gradient-to-r from-gradient-0 to-gradient-1;
}

h1 {
    @apply text-center text-2xl font-semibold;
}

:root {
    --main: #444;
    --secondary: #666;
    --tertiary: #888;

    --main-dark: #ddd;

    --main-bg: hsl(0, 0%, 100%);
    --secondary-bg: hsl(0, 0%, 95%);
    --tertiary-bg: hsl(0, 0%, 90%);

    --input-bg: hsl(0, 0%, 93%);
    --header-bg: hsl(0, 0%, 10%);
    --header-bg-hover: hsl(0, 0%, 18%);

    /* tailwind green-600 */
    --positive: #16a34a;
    --negative: rgb(207, 34, 46);

    --gradient-0: #155799;
    --gradient-1: #159957;

    box-sizing: border-box;
    color-scheme: light;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main: #ddd;
        --secondary: #ccc;
        --tertiary: #aaa;

        --main-bg: hsl(0, 0%, 10%);
        --secondary-bg: hsl(0, 0%, 13%);
        --tertiary-bg: hsl(0, 0%, 20%);

        --input-bg: hsl(0, 0%, 25%);
        --header-bg: hsl(0, 0%, 5%);
        --header-bg-hover: hsl(0, 0%, 13%);

        /* tailwind emerald-500 */
        --positive: #10b981;
        --negative: rgb(248, 81, 73);

        --gradient-0: #1f7fdf;
        --gradient-1: #1fdf7f;

        color-scheme: dark;
    }
}
