@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    src: url('/MaterialSymbolsOutlined[FILL\,GRAD\,opsz\,wght].woff2') format('woff');
}

.material-symbols {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

.material-symbols-outlined {
    @apply material-symbols;
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 200, 'opsz' 20 !important;
}

.material-symbols-filled {
    @apply material-symbols;
    font-variation-settings: 'FILL' 1, 'wght' 300, 'GRAD' 200, 'opsz' 20 !important;
}
